.irCFl4f3crZoTusgj_2R {
  padding: 20px;
}

.GNhTW7xMiKgzof434Iyi {
  margin: auto;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  width: 80%;
}

.yOEep6Dx1yHyloMWVxna {
  width: 150px;
  height: 150px;
  background-color: #ddd;
  border-radius: 50%;
  margin-right: 20px;
}

.RktDgY0KvEdRnFwPsgOs {
  flex: 1;
}

.Gn3LE9d1GePdpmiftYTW {
  font-size: 32px;
  margin-bottom: 10px;
}

.eR6CgHrYctAu9EfknHEw {
  font-size: 16px;
  color: #666;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.eR6CgHrYctAu9EfknHEw h2 {
  font-size: 32px;
  font-weight: bold;
  margin: 0px;
}

.eR6CgHrYctAu9EfknHEw p {
  margin: 0px;
}

.SEYrffl2xGdU3S_FtQvY {
  font-weight: bold;
  color: #000;
  cursor: pointer;
}

.y6LH5wptN8frgaihZcaG {
  font-size: 24px;
  margin-top: 20px;
  margin-bottom: 10px;
}

.dAjjPon7NAm66jRTY2Os {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 10px;
}

.gJjHSg8eJrQmyexBtV7S {
  padding: 10px;
  text-align: left;
  position: relative; /* Ensure relative positioning for cart icon */
}

.Cjsn0fjHeYdewppoHTpC {
  width: 100%;
  height: 200px;
  background-color: #ddd;
  margin-bottom: 10px;
}

.CmvyplZZagK3cGpNnZhy {
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.jaIGDT5Yn3I1zc8Awp93 p {
  font-size: 12px;
}

.yjr13fYWwoYwxNOLptTd {
  margin-left: 10px;
  font-size: 20px;
  color: #000; /* 원하는 색상으로 변경하세요 */
}

.SOJTZsMb6kXagzuumtAg {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.Jf5_c45LPEUlSF_eng07,
.EV1HSqImalAb9GUEZu72 {
  margin: 0 5px;
  padding: 5px 10px;
  border: none;
  background-color: white;
  cursor: pointer;
}

.Jf5_c45LPEUlSF_eng07:hover,
.EV1HSqImalAb9GUEZu72:hover {
  background-color: #f1f1f1;
}
.johJWCJ4mF07s6Fx1mog {
  color: red;
  text-decoration: underline;
}
@media (max-width: 600px) {
  .GNhTW7xMiKgzof434Iyi {
    flex-direction: column;
    align-items: center;
  }

  .yOEep6Dx1yHyloMWVxna {
    margin-right: 0;
    margin-bottom: 20px;
  }

  .RktDgY0KvEdRnFwPsgOs {
    text-align: center;
  }

  .eR6CgHrYctAu9EfknHEw {
    align-items: center;
  }

  .dAjjPon7NAm66jRTY2Os {
    grid-template-columns: repeat(2, 1fr); /* Two-column layout for mobile */
  }
}
.w9IkjbamqKdtqljUEbpr {
  display: flex;
  align-self: flex-start;
  margin-bottom: 20px;
  position: relative;
  height: 40px; /* 원하는 높이로 설정 */
  left: 20px; /* 페이지 왼쪽에서 떨어진 거리 조정 */
}

.Jd7_EXvTvjY1M6fbVXKy {
  text-decoration: none;
  color: #ccc;
  font-size: 20px;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  font-family: inherit; /* Ensures the button text matches the surrounding text */
  height: 100%; /* 부모 요소의 높이를 채우도록 설정 */
  display: flex;
  align-items: center; /* 버튼 내 텍스트를 수직 가운데 정렬 */
  white-space: nowrap;
}
