.VbcnEhWs6C_ghokRtGib {
  padding: 20px;
}
.phjI3us0QohaOiNcFXIQ {
  display: flex;
  flex-direction: column;
  color: #f3f3f3;
  background: linear-gradient(to bottom, #e7e7e7 50%, rgb(85, 85, 85));
  text-align: center;
  justify-content: flex-end;
  margin-bottom: 20px;
  height: 300px;
}
.phjI3us0QohaOiNcFXIQ h1 {
  font-size: 36px;
  margin-bottom: 10px;
}

.phjI3us0QohaOiNcFXIQ p {
  font-size: 16px;
  margin: 5px 0;
}

.zwPXjNRRoRmhBhGbmXzu {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 10px;
}

.Tj7rQfQR9x7_3cWdKNzg {
  padding: 10px;
  text-align: left;
  position: relative; /* Ensure relative positioning for cart icon */
}

.p1Rr6ATbhG2MiasPTl1p {
  width: 100%;
  height: 200px;
  background-color: #ddd;
  margin-bottom: 10px;
}

.wpjhKFL8r0M1LffrNVYP {
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

._9XHhBrKbMXjN7oa7SKg p {
  font-size: 12px;
}

.SpGxYq4bs5qIKbumxauc {
  margin-left: 10px;
  font-size: 20px;
  color: #000; /* 원하는 색상으로 변경하세요 */
}

.EXGlAObUz0kRfCIsK4dn {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.HIGVjGHI66Nh7Ah2zXOd,
.vl2dpo3CJcQKVZEPmths {
  margin: 0 5px;
  padding: 5px 10px;
  border: none;
  background-color: white;
  cursor: pointer;
}
.HIGVjGHI66Nh7Ah2zXOd.PXkdRfybMAGjQFmfuhde {
  color: red;
}
@media (max-width: 768px) {
  .zwPXjNRRoRmhBhGbmXzu {
    grid-template-columns: repeat(2, 1fr); /* Two-column layout for mobile */
  }
}

.w9IkjbamqKdtqljUEbpr {
  display: flex;
  align-self: flex-start;
  margin-bottom: 20px;
  position: relative;
  height: 40px; /* 원하는 높이로 설정 */
  left: 20px; /* 페이지 왼쪽에서 떨어진 거리 조정 */
}

.Jd7_EXvTvjY1M6fbVXKy {
  text-decoration: none;
  color: #ccc;
  font-size: 20px;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  font-family: inherit; /* Ensures the button text matches the surrounding text */
  height: 100%; /* 부모 요소의 높이를 채우도록 설정 */
  display: flex;
  align-items: center; /* 버튼 내 텍스트를 수직 가운데 정렬 */
  white-space: nowrap;
}
