.lg7aJRdMys1Dpm4b0KIV {
  padding: 50px;
  margin-bottom: 440px;
}

.nktuZH1NS_2DrYfYzNHP {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.nktuZH1NS_2DrYfYzNHP h2 {
  font-size: 24px;
  font-weight: bold;
}

.LJJCMYdOaKV9w1gVWZeo {
  display: flex;
  width: 80%;
  margin: auto;
}

.Bug3pOEFjD_C37Ur3wOH {
  width: 60%;
  margin-right: 20px;
}

.nJ_lP_Ldors1kUwzPa09 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: bold;
  margin: 20px;
  padding: 10px;
  width: 100%;
}

.nJ_lP_Ldors1kUwzPa09 label {
  display: flex;
  align-items: center;
  font-size: 18px;
}

.nJ_lP_Ldors1kUwzPa09 input {
  width: 20px;
  height: 20px;
  margin-right: 5px; /* Space between checkbox and text */
}
.XJpwvJ_CK85R2o_z_xl9 {
  display: grid;
  grid-template-columns: 1fr; /* Single column layout */
  gap: 25px; /* Space between grid items */
  border: 1px solid #ccc; /* Add border around the section */
  padding: 32px 44px;
  margin: 0 20px;
}

.HMJygXPuS4EGR587XyDp {
  display: flex;
  align-items: flex-start;
  padding-bottom: 50px;
  border-bottom: 1px solid #ccc; /* Add bottom border to each item */
  flex-direction: column;
}

.qGTaR3uW6fmvduLy4ifr {
  margin: 0px;
  width: 20px;
  height: 20px;
}

.LQg4dCfYCU67ERJtZJBW {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%; /* Set item width to 100% */
}

.sQRxLWHVaYRiOvR1KKnA {
  flex: 1;
  padding: 0;
}

.EDZWCi2KQEFoeCprstfV {
  font-weight: bold;
  margin: 0px;
}

.uzGlQydA9bW_s7cXDtQH {
  margin-top: 5px;
}

.SfYINwZgWlA0j9ADE_yg {
  color: #555;
  margin: 0px;
}

.TNYWUphCkNA_uHBP28BW {
  width: 160px;
  height: 191px;
  background-color: #eee;
}

.zxDBVJKQm928HmvaRRlm {
  width: 368px;
  padding: 20px;
}

.BhhFDoXViLTnf4BzgCWs {
  text-align: right; /* Align steps to the right */
  margin: 20px;
}

.sstEiqUQkw7nJXKl4iIv {
  margin-bottom: 10px;
}
.sstEiqUQkw7nJXKl4iIv span {
  margin: 0 5px; /* Add margin between steps and arrows */
}
.sstEiqUQkw7nJXKl4iIv .zj90RLUAXPM6MveVdsld {
  color: red; /* Make the "장바구니" text red */
  font-weight: bold;
}

.GSRip8estY3HdA8ehaIq {
  border: 1px solid #ccc;  
  padding: 20px;
}
.GSRip8estY3HdA8ehaIq h2{
  font-size: 20px;
  
}
.GSRip8estY3HdA8ehaIq h3 {
  width: 100%;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
  text-align: right;
  border-top: 1px solid #ccc;
}

.GSRip8estY3HdA8ehaIq p {
  margin: 5px 0;
  font-size: 14px;
}

.jirPoS4_Ze02ylw8CHwT {
  display: flex;
  width: 100%;
  padding: 10px;
  background-color: #ff5a5f;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 18px;
  font-weight: 400;
  border-radius: 4px;
  justify-content: center; /* Center text */
  align-items: center; /* Center text vertically */
}

.jirPoS4_Ze02ylw8CHwT:hover {
  background-color: #e04a4e;
}

.rhsFazydUTtTqAEwnL7H {
  display: flex;
  justify-content: space-between;
  margin: 5px 0;
}
.rhsFazydUTtTqAEwnL7H p:first-child{
  color: #ccc;
}
.rhsFazydUTtTqAEwnL7H .zj90RLUAXPM6MveVdsld{
  font-size: 14px;
  color: red;
}
.GSRip8estY3HdA8ehaIq .rhsFazydUTtTqAEwnL7H:last-child {
  border-bottom: 1px solid #ccc; /* Add bottom border to the last amountContainer */
  padding-bottom: 10px; /* Add padding for better spacing */
}
@media (max-width: 767px) {
  .lg7aJRdMys1Dpm4b0KIV{
    padding: 0px;
    width: 100%;
  }
  .LJJCMYdOaKV9w1gVWZeo {
    flex-direction: column;
    width: 100%;
  }

  .Bug3pOEFjD_C37Ur3wOH {
    width: 100%;
    margin: 0px;
  }

  .zxDBVJKQm928HmvaRRlm {
    width: 100%;
    margin-top: 20px;
    padding: 0px;
  }
  .nJ_lP_Ldors1kUwzPa09{
    width: 90%;
    padding: 0px;
  }
  .XJpwvJ_CK85R2o_z_xl9 {
    width: 90%;
    padding: 0px;
  }
  
  .XFQpEdcZsAe1i69y3CUY{
  display: none !important  ;
  }
  .sstEiqUQkw7nJXKl4iIv{
    display: none;
  }
  .LQg4dCfYCU67ERJtZJBW {
    flex-direction: column;
    align-items: flex-start;
  }

  .TNYWUphCkNA_uHBP28BW {
    width: 100px;
    height: 100px;
    margin: 10px 0;
  }

  .jirPoS4_Ze02ylw8CHwT {
    width: 100%;
  }
}

.w9IkjbamqKdtqljUEbpr {
  display: flex;
  align-self: flex-start;
  margin-bottom: 20px;
  position: relative;
  height: 40px; /* 원하는 높이로 설정 */
  left: 20px; /* 페이지 왼쪽에서 떨어진 거리 조정 */
}

.Jd7_EXvTvjY1M6fbVXKy {
  text-decoration: none;
  color: #ccc;
  font-size: 20px;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  font-family: inherit; /* Ensures the button text matches the surrounding text */
  height: 100%; /* 부모 요소의 높이를 채우도록 설정 */
  display: flex;
  align-items: center; /* 버튼 내 텍스트를 수직 가운데 정렬 */
  white-space: nowrap;
}
