.E4ODCLcDcCZfX9YirGaK {
  display: flex;
  width: 85%;
  margin: 20px auto;
  white-space: pre-wrap;
}

.J2Qg8V47FaSbTlocUd7o {
  padding: 40px;
  border-right: 1px solid #ccc;
}

.J2Qg8V47FaSbTlocUd7o ul {
  list-style-type: none;
  padding: 0;
}

.J2Qg8V47FaSbTlocUd7o ul li {
  padding: 10px 0;
  cursor: pointer;
}

.J2Qg8V47FaSbTlocUd7o ul li.BFSDfQzIVVSS0UoyEnXC {
  color: red;
  font-weight: bold;
}

.N7tEH_xLL2eHFZaYsJQY {
  flex: 1;
  padding: 20px;
}

.NnQvrmqXb34BpSi4oCHL {
  text-align: center;
  padding-bottom: 75px;
}

.Tmvr2WxmXm8KdykfRZ7H {
  padding-left: 150px;
  width: 100%;
  text-align: left;
}
.Tmvr2WxmXm8KdykfRZ7H h2{
  font-size: 1.2em;
}
.Tmvr2WxmXm8KdykfRZ7H p{
  padding-bottom: 30px;
}
.M9Kp_LhiqTX4sLYJcqt3{
  padding: 10px 10px;
  margin: 16px 10px;
}
.RnTDWIKIWlaCH5WClIRw {
  text-align: center;
  font-size: 0.8em;
}
.RnTDWIKIWlaCH5WClIRw h1{
  margin-bottom: 50px;
}
.FGX8MD2XL3WLQnkOTzjA {
  text-align: left;
  padding-left: 150px;
}

.FGX8MD2XL3WLQnkOTzjA ul {
  list-style-type: none;
  padding: 0;
}

.FGX8MD2XL3WLQnkOTzjA ul li {
  margin-bottom: 20px;
}

.FGX8MD2XL3WLQnkOTzjA ul li strong {
  display: block;
  margin-bottom: 5px;
}

.FGX8MD2XL3WLQnkOTzjA h3 {
  font-size: 1.2em;
  margin-bottom: 10px;
}

.FGX8MD2XL3WLQnkOTzjA span {
  display: block;
  margin-left: 20px;
}

.YQyddUYGOMeIh4UZ_F7Q {
  text-align: center;
}

.VQOMUQTlDVcMshqawf9j {
  text-align: center;
}

.NWNK9mYk2074q0eDt0tw {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 20px;
}

.siCri56dbIGzK5D4hcXY,
.KBU5SlmhmwcNqWpL95qg {
  width: 50%;
  padding: 0 20px;
  text-align: left;
}

.NWNK9mYk2074q0eDt0tw + .NWNK9mYk2074q0eDt0tw {
  margin-top: 20px;
}

.siCri56dbIGzK5D4hcXY {
  padding-left: 200px;
  font-weight: bold;
  white-space: nowrap;
  text-align: left;
}

.KBU5SlmhmwcNqWpL95qg {
  font-weight: bold;
  border-left: 1px solid #ccc;
  padding-left: 75px;
}
@media (max-width: 768px) {
  .E4ODCLcDcCZfX9YirGaK {
    flex-direction: column;
    width: 100%;
  }

  .J2Qg8V47FaSbTlocUd7o {
    border-right: none;
    border-bottom: 1px solid #ccc;
    padding: 20px;
  }

  .N7tEH_xLL2eHFZaYsJQY {
    padding: 20px;
    width: 100%;
  }

  .Tmvr2WxmXm8KdykfRZ7H,
  .FGX8MD2XL3WLQnkOTzjA {
    padding-left: 0;
    width: 100%;
  }

  .NWNK9mYk2074q0eDt0tw {
    flex-direction: column;
    align-items: center;
  }

  .siCri56dbIGzK5D4hcXY,
  .KBU5SlmhmwcNqWpL95qg {
    padding: 0 10px;
    text-align: center;
  }

  .KBU5SlmhmwcNqWpL95qg {
    border-left: none;
    margin-top: 20px;
  }
}
.w9IkjbamqKdtqljUEbpr {
  display: flex;
  align-self: flex-start;
  margin-bottom: 20px;
  position: relative;
  height: 40px; /* 원하는 높이로 설정 */
  left: 20px; /* 페이지 왼쪽에서 떨어진 거리 조정 */
}

.Jd7_EXvTvjY1M6fbVXKy {
  text-decoration: none;
  color: #ccc;
  font-size: 20px;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  font-family: inherit; /* Ensures the button text matches the surrounding text */
  height: 100%; /* 부모 요소의 높이를 채우도록 설정 */
  display: flex;
  align-items: center; /* 버튼 내 텍스트를 수직 가운데 정렬 */
  white-space: nowrap;
}
