.VGhX3SGhk5XK0Z7GMMhs {
  width: 100%;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 400px;
}


.VGhX3SGhk5XK0Z7GMMhs h2 {
  padding-top: 250px;
  font-size: 18px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}

.VGhX3SGhk5XK0Z7GMMhs h2 p {
  margin: 0 0 0 10px; /* Adds some space between h2 text and p */
  font-weight: 400;
}

.ZS4Jn4NtBeGcjKfwBV5J {
  margin: 20px 0;
  font-size: 18px;
  color: #333;
  display: flex;
  flex-direction: column;
}

.ZS4Jn4NtBeGcjKfwBV5J p {
  margin:  0;
  font-size: 25px
}

.lwyACiJoCXWHwkLH81aH {
  width: 560px;
  display: flex;
  justify-content: center;
}

.sfhZ_YZ0JOO0yUq83WQx {
  height: 40px;
  border: 1px solid #ccc;
  border-radius: 0;
  text-decoration: none;
  color: black;
  background-color: transparent;
  flex: 1;
  text-align: center;
}

.sfhZ_YZ0JOO0yUq83WQx:first-child {
  border-right: none; /* 첫 번째 버튼의 오른쪽 경계선을 제거 */
}


.Qtp6V1g4D1IdMIxOFDnj {
  display: flex;
  border: 1px solid #ccc;
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
}

.w9IkjbamqKdtqljUEbpr {
  display: flex;
  align-self: flex-start;
  margin-bottom: 20px;
  position: relative;
  height: 40px; /* 원하는 높이로 설정 */
  left: 20px; /* 페이지 왼쪽에서 떨어진 거리 조정 */
}

.Jd7_EXvTvjY1M6fbVXKy {
  text-decoration: none;
  color: #ccc;
  font-size: 20px;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  font-family: inherit; /* Ensures the button text matches the surrounding text */
  height: 100%; /* 부모 요소의 높이를 채우도록 설정 */
  display: flex;
  align-items: center; /* 버튼 내 텍스트를 수직 가운데 정렬 */
  white-space: nowrap;
}
