.TIr3Tfjr_fCbmzJ_3KKc {
  width: 100%;
  padding: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}


.XLHp8xr6pOKoCO8bx3vp {
  text-align: left;
  width: 100%;
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.jPLh0yQGHGAjDZlJFfyV {
  margin-top: 100px;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.jPLh0yQGHGAjDZlJFfyV button {
  width: 200px;
  padding: 10px 20px;
  border: none;
  border: 1px solid #ccc;
  background: none;
  cursor: pointer;
  font-size: 16px;
}

.jPLh0yQGHGAjDZlJFfyV .fpBA5A3kCkZB2ZsyYdsa {
  border-bottom: 2px solid black;
}

.TIr3Tfjr_fCbmzJ_3KKc h2 {
  font-size: 24px;
  margin-top: 50px;
  margin-bottom: 20px;
}

.ZOkn_IAt4u2l178pKjrU {
  width: 350px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  font-size: 16px;
  font-weight: 100;
  white-space: nowrap;
}

.ZOkn_IAt4u2l178pKjrU div {
  display: flex;
  align-items: center;
  cursor: pointer;
  margin: 0 10px;
}

.dpQKhAshh_b9ACDtS5ML {
  font-size: 20px;
  margin-right: 10px;
  color: lightgray;
}

.FJyu6OKR_rm8t8fHVKoU.LyPzNRj4P4B5s_3bJXoX .dpQKhAshh_b9ACDtS5ML {
  color: white;
  background-color: #ff6b6b;
  border-radius: 50%;
  margin-right: 8px;
  padding: 2px;
}

.vJfw32OnJVy2SJiFmXxT {
  width: 400px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
}

.vJfw32OnJVy2SJiFmXxT input {
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  height: 50px;
}

.CH4ap3SrKaPYjZ9bb1kU {
  display: flex;
  gap: 5px;
}

.CH4ap3SrKaPYjZ9bb1kU input {
  width: calc(30%);
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.DdK8D52mESD6WjiUuhN5 {
  width: 12px;
  font-size: 18px;
  align-self: center;
}
.V1kUpDPknfMhiCRqBCFp {
  margin-top: 40px;
  width: 100%;
  padding: 10px;
  background-color: #ff6b6b;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

.aoUqDBtgPYDa3YrAaVsy {
  margin: 20px 0;
  font-size: 18px;
}

.nQh5afuPvdepXCAoftav {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.nQh5afuPvdepXCAoftav a {
  padding: 10px 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  text-decoration: none;
  color: black;
}

.w9IkjbamqKdtqljUEbpr {
  display: flex;
  align-self: flex-start;
  margin-bottom: 20px;
  position: relative;
  height: 40px; /* 원하는 높이로 설정 */
  left: 20px; /* 페이지 왼쪽에서 떨어진 거리 조정 */
}

.Jd7_EXvTvjY1M6fbVXKy {
  text-decoration: none;
  color: #ccc;
  font-size: 20px;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  font-family: inherit; /* Ensures the button text matches the surrounding text */
  height: 100%; /* 부모 요소의 높이를 채우도록 설정 */
  display: flex;
  align-items: center; /* 버튼 내 텍스트를 수직 가운데 정렬 */
  white-space: nowrap;
}
