.nBMNbpS8T10Epb0xnLtn,
.nBMNbpS8T10Epb0xnLtn::before,
.nBMNbpS8T10Epb0xnLtn::after {
  box-sizing: border-box;
}

.nBMNbpS8T10Epb0xnLtn {
  width: 80%; /* Make the container narrower */
  display: flex;
  padding: 20px;
  margin: auto;
  flex-direction: column;
}

.ilBefJg1pE0Ii0svLBH9 {
  display: flex;
  flex-direction: row;
  flex: 1;
  padding-bottom: 440px;
}
.WBtp1P_LVpd94SF21jQU {
  min-width: 200px;
  width: 200px;
  flex: 1;
  margin-right: 20px;
  border-right: 1px solid #ccc;
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.WBtp1P_LVpd94SF21jQU h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

.WBtp1P_LVpd94SF21jQU ul {
  list-style: none;
  padding: 0;
}

.WBtp1P_LVpd94SF21jQU li {
  margin-bottom: 25px; /* Increase spacing between items */
  cursor: pointer;
  font-size: 18px;
}
.MPaz2rx8pkyIUKOprA7x {
  width: 80%; /* Adjust as needed */
  margin: 15px 0; /* Add some spacing around the separator */
  border: 0;
  border-top: 1px solid #ccc;
}

.CudOH8q9k84s_crLcqMP {
  flex: 3;
  margin-left: 100px;
  padding: 20px;
}

.vIqQRi2FEHQuxS1tXJOz {
  margin-bottom: 20px;
  transition: background-color 0.3s ease-in-out;
}

.cpTKoftJB0QzIxu9dTqT {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #333;
  background-color: white;
}

.uNofpOL6tEIY_4g8KnOo {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.IroSzfprovka0AlMczEn {
  width: 188px; /* Set the width for each card */
  padding: 18px; /* Adjust the padding */
  border: 1px solid #ccc;
  border-radius: 4px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  cursor: pointer;
  margin-right: 10px;
}

.IroSzfprovka0AlMczEn:last-child {
  margin-right: 0;
}

.IroSzfprovka0AlMczEn span:first-child {
  font-weight: bold;
  margin-bottom: 5px; /* Add some space between the lines */
}

.eDEzcqyppdfDbRqtZhTL {
  margin-bottom: 20px;
}

.eDEzcqyppdfDbRqtZhTL h3 {
  font-size: 20px;
  margin-bottom: 10px;
  font-weight: bold;
}

.m3Z39k5TTWKJZeWok0rc {
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  height: 130px;
  border-radius: 4px;
  margin-bottom: 10px;
}

.m3Z39k5TTWKJZeWok0rc h2 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.m3Z39k5TTWKJZeWok0rc p {
  margin: 5px 0;
}

.m3Z39k5TTWKJZeWok0rc .MdYm6GByDc0LqKC5fJLq {
  width: 15%;
  min-width: 100px;
  height: 100%;
  background-color: #eee;
  border: 2px solid #ccc;
  margin-right: 20px;
}

.kRVqK9_oPnr5oxMg8beu {
  text-align: right;
  padding-right: 30px;
  font-weight: bold;
}

.sIze7sc2X7v7pI552mcg,
.DMzxOQV97THPjAhhkM60 {
  width: 100%;
}

.DMzxOQV97THPjAhhkM60 {
  display: none;
  padding: 0;
}

.B80JQfIThtU1SCxMl1Tw {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

.B80JQfIThtU1SCxMl1Tw th,
.B80JQfIThtU1SCxMl1Tw td {
  padding: 10px;
  height: auto;
}

.B80JQfIThtU1SCxMl1Tw th {
  background-color: #f9f9f9;
  text-align: center;
}
.B80JQfIThtU1SCxMl1Tw td{
  text-align: left;
}
.B80JQfIThtU1SCxMl1Tw .ODD8E_8kR7ydp6aiBcYt {
  text-align: right;
  padding-right: 50px;
}

.MdYm6GByDc0LqKC5fJLq {
  width: 100px;
  height: 116px;
  background-color: #eee;
}

.ac59T0RbMLFiY9yhS_k7 {
  font-weight: bold;
  margin-bottom: 5px;
}

.GT2FRtRdjdIES6D7xqJA {
  text-decoration: line-through;
  color: #999;
  margin-bottom: 5px;
}

.FCNYAYCZ7apwgJ_BhGJp {
  font-weight: bold;
  color: #333;
}

.McfGNag5lGRaU3rudkxt {
  display: flex;
  flex-direction: column;
  gap: 5px;
  white-space: nowrap;
}

.gphYsuP_mptG7YJCZS9o {
  background-color: #333;
  color: white;
  border: none;
  padding: 5px;
  cursor: pointer;
  border-radius: 4px;
  text-align: center;
}

.iPwQ8pOGrR2rf749bpdc,
.YENtDKXO1trrQDi2vjzj {
  background-color: transparent;
  color: black;
  border: 1px solid #ccc;
  padding: 5px;
  cursor: pointer;
  border-radius: 4px;
  text-align: center;
}

.YENtDKXO1trrQDi2vjzj {
  border: 1px solid #ccc;
}

.aI9lYJzPfB78lzXirSmp {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
}

.A4I_5qvGgrjCVDwiNQjJ {
  cursor: pointer;
}
.a1GDintgeY00OYrzhGhn {
  width: 50%;
  margin: auto;
  padding: 20px;
  border-radius: 8px;
}

.a1GDintgeY00OYrzhGhn h2 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: bold;
}

.ojFRLAh1OLLMgwVQnOCI {
  display: flex;
  flex-direction: column;
}

.ojFRLAh1OLLMgwVQnOCI label {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  font-size: 16px;
}

.ojFRLAh1OLLMgwVQnOCI label span {
  margin-bottom: 8px;
}

.ojFRLAh1OLLMgwVQnOCI input,
.ojFRLAh1OLLMgwVQnOCI .aExJ2V_4qAMPO5nY8_8a input,
.ojFRLAh1OLLMgwVQnOCI .O8DlbQC8oCXnMexcXM_x input,
.ojFRLAh1OLLMgwVQnOCI .aE67Oc4ynAyVqPypzlzg input,
.ojFRLAh1OLLMgwVQnOCI .pcZdevRJndrtP4X3mKug input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
}

.ojFRLAh1OLLMgwVQnOCI .aExJ2V_4qAMPO5nY8_8a,
.ojFRLAh1OLLMgwVQnOCI .O8DlbQC8oCXnMexcXM_x,
.ojFRLAh1OLLMgwVQnOCI .aE67Oc4ynAyVqPypzlzg {
  display: flex;
  flex-direction: column;
}

.ojFRLAh1OLLMgwVQnOCI .aExJ2V_4qAMPO5nY8_8a {
  display: flex;
  justify-content: space-between;
}

.ojFRLAh1OLLMgwVQnOCI .aExJ2V_4qAMPO5nY8_8a input {
  flex: 1;
  margin-right: 8px;
}

.ojFRLAh1OLLMgwVQnOCI .aExJ2V_4qAMPO5nY8_8a input:last-child {
  margin-right: 0;
}

.ojFRLAh1OLLMgwVQnOCI .O8DlbQC8oCXnMexcXM_x {
  display: flex;
  justify-content: space-between;
}

.ojFRLAh1OLLMgwVQnOCI .O8DlbQC8oCXnMexcXM_x input {
  flex: 1;
  margin-right: 8px;
}

.ojFRLAh1OLLMgwVQnOCI .O8DlbQC8oCXnMexcXM_x input:last-child {
  margin-right: 0;
}

.ojFRLAh1OLLMgwVQnOCI .aE67Oc4ynAyVqPypzlzg .pcZdevRJndrtP4X3mKug {
  display: flex;
  margin-bottom: 8px;
}

.ojFRLAh1OLLMgwVQnOCI .aE67Oc4ynAyVqPypzlzg input {
  margin-bottom: 8px;
}

.ojFRLAh1OLLMgwVQnOCI .aE67Oc4ynAyVqPypzlzg .pcZdevRJndrtP4X3mKug input {
  flex: 1;
}

.ojFRLAh1OLLMgwVQnOCI .aE67Oc4ynAyVqPypzlzg .AxI58v8VJ0RaybFEZnxm {
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  margin-left: 8px;
}

.ojFRLAh1OLLMgwVQnOCI .sR32r_n24lIWNiikjzDy {
  padding: 10px;
  background-color: #ff5a5f;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  border-radius: 4px;
  text-align: center;
}

.ojFRLAh1OLLMgwVQnOCI .sR32r_n24lIWNiikjzDy:hover {
  background-color: #e04a4e;
}

.WQlmeUV_z2LjFIGZZ3Iw {
  font-size: 16px;
  color: #666;
  text-align: center;
  margin-top: 20px;
}

.kyImrHrnF_zExyeypbV4 {
  margin: 20px auto;
  padding: 10px 20px;
  background-color: #333;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  text-align: center;
  display: block;
}



@media (max-width: 768px) {
  .WBtp1P_LVpd94SF21jQU {
    display: none;
  }
  .uNofpOL6tEIY_4g8KnOo{
    display: grid;
    grid-template-columns: repeat(2,1fr);
  }
  .IroSzfprovka0AlMczEn{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0px;
    margin-bottom: 5px;
    align-items: center;
  }
  .IroSzfprovka0AlMczEn span{
    padding: 0px 10px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  
  .IroSzfprovka0AlMczEn:last-child{
    margin-right: 10px;
  }
  .CudOH8q9k84s_crLcqMP {
    width: 100%;
  }
  .m3Z39k5TTWKJZeWok0rc p{
    font-size: 12px;
  }
  .sIze7sc2X7v7pI552mcg{
    display: none ;
  }
  .DMzxOQV97THPjAhhkM60{
    display: block;
  }
  .B80JQfIThtU1SCxMl1Tw {
    display: none;
  }
  
  .quDlGTyVI3tvWZrC85hd {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
  }

  .xxhXGV2xo2SeNb_FGn1t {
    width: 100%;
    display: flex;
    border: 1px solid #ccc;
    border-radius: 4px;
    overflow: hidden;
    align-items: center;
  }

  .MdYm6GByDc0LqKC5fJLq {
    width: 100%;
    min-width: 100px;
    height: 90px;
    background-color: #eee;
    justify-content: center;
  }

  .xxhXGV2xo2SeNb_FGn1t .bxnmy5zkHN1v936R4O3z {
    display: flex;
    flex-direction: column;
    padding: 10px;
  }

  .xxhXGV2xo2SeNb_FGn1t .ac59T0RbMLFiY9yhS_k7 {
    font-weight: bold;
    margin-bottom: 5px;
  }

  .xxhXGV2xo2SeNb_FGn1t .GT2FRtRdjdIES6D7xqJA {
    text-decoration: line-through;
    color: #999;
    margin-bottom: 5px;
  }

  .xxhXGV2xo2SeNb_FGn1t .FCNYAYCZ7apwgJ_BhGJp {
    font-weight: bold;
    color: #333;
    margin-bottom: 10px;
  }

  .xxhXGV2xo2SeNb_FGn1t .McfGNag5lGRaU3rudkxt {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .xxhXGV2xo2SeNb_FGn1t .gphYsuP_mptG7YJCZS9o {
    background-color: transparent;
    color: black;
    border: 1px solid #ccc;
    padding: 10px;
    cursor: pointer;
    border-radius: 4px;
    text-align: center;
  }

  .xxhXGV2xo2SeNb_FGn1t .iPwQ8pOGrR2rf749bpdc,
  .xxhXGV2xo2SeNb_FGn1t .YENtDKXO1trrQDi2vjzj {
    background-color: transparent;
    color: black;
    border: 1px solid #ccc;
    padding: 10px;
    cursor: pointer;
    border-radius: 4px;
    text-align: center;
  }
  .VCC6ztsUuKhpjVxzzECe {
    width: 100%;
    padding: 0px;
  }
  .eZuqHTsRuFfJu_mb6jPQ {
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
  }
  .eZuqHTsRuFfJu_mb6jPQ h3 {
    text-align: left;
    padding: 0 10px;
  }
  .ABUwH5TkTqLVzdiDX3ZA{
    left: 0;
    border-bottom: 1px solid #ccc;
    width: 100%;
    align-self: flex-start;
  }
  
  .duTOETgrse6t2C1GeTsA{
    width: 90%;
    border: none;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
}
.w9IkjbamqKdtqljUEbpr {
  display: flex;
  align-self: flex-start;
  margin-bottom: 20px;
  position: relative;
  height: 40px; /* 원하는 높이로 설정 */
  left: 20px; /* 페이지 왼쪽에서 떨어진 거리 조정 */
}

.Jd7_EXvTvjY1M6fbVXKy {
  text-decoration: none;
  color: #ccc;
  font-size: 20px;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  font-family: inherit; /* Ensures the button text matches the surrounding text */
  height: 100%; /* 부모 요소의 높이를 채우도록 설정 */
  display: flex;
  align-items: center; /* 버튼 내 텍스트를 수직 가운데 정렬 */
  white-space: nowrap;
}
