.BXjS1SfbSxX4G4VG8pgw {
  width: 50%;
  margin: auto;
  padding: 20px;
  border-radius: 8px;
}

.BXjS1SfbSxX4G4VG8pgw h2 {
  text-align: center;
  margin-bottom: 20px;
}

.d812mqGTk4ARWg5y1TDb {
  text-align: center;
  margin-bottom: 30px;
}

.zXMCyce55ydEGv32Cpg8 {
  display: flex;
  flex-direction: column;
  border: 1px solid #ccc;
  padding: 32px 57px;
}
.zXMCyce55ydEGv32Cpg8 h3{
  margin: 0;
}
.MWoDgE9JQ9emc9NJF7aB {
  display: flex;
  justify-content: space-between;
  padding: 30px 0;
  border-bottom: 1px solid #ccc;
}

.MWoDgE9JQ9emc9NJF7aB:last-child {
  border-bottom: none;
}

.O0sHxjT0zc32z0p7xmBA {
  flex: 1;
  font-weight: bold;
}

.dRHuhnpmu6q2HDjAijkU {
  flex: 2;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.lRMkEj6aJPf9KcqcrFXD {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.lRMkEj6aJPf9KcqcrFXD.JYmIj4UudhjImCMgm85A {
  flex: 2;
}

.lTCm8cyoQ1HKhighLqYQ,
.lRMkEj6aJPf9KcqcrFXD span {
  margin-bottom: 10px;
  font-size: 16px;
}

.KVUPsbr7h2q6esQeCMii {
  width: 113px;
  height: 135px;
  background-color: #eee;
  position: relative;
  left: 50%;
}

.YHNGgjblkjHwyANIHb9y {
  margin-top: 20px;
  padding-top: 10px;
}

.YHNGgjblkjHwyANIHb9y h3 {
  margin-bottom: 10px;
  text-align: center;
}

.OM3qJdIIhd8x70feb3cr {
  color: #888;
  margin: 5px 0;
  text-align: center;
  font-size: 14px;
}

