.MMTmczCojpArhDoNcx5G {
  padding: 20px;
}

.MiQYnBCAYJmJy4R0R8Wn {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.GH1EFLcbq7ytwQ3IClp4 {
  text-align: left;
  margin-bottom: 10px;
}

.H7Gm_NYRg5kj3kJf3vvC {
  width: 100%;
  height: 1px;
  background-color: #ddd;
  margin-bottom: 10px;
}

.JwH3PHIYKoGhwcoSTRAV {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.IjaFpelVhP4DNRz_UeSa {
  font-weight: bold;
  margin-right: 10px;
}

.QFV41NZFsSoG3Nnv1gh6 {
  padding: 10px;
  width: 200px;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #ccc;
  border-radius: 4px;
  margin-right: 10px;
}

.F6vMaev9ZUnevQVNPeuL {
  padding: 10px 20px;
  border: 1px solid #ccc;
  font-weight: lighter;
  background-color: transparent;
  cursor: pointer;
  border-radius: 4px;
}

.WzPSOQHxXdKdYczhgt5J {
  display: grid;
  grid-template-columns: repeat(5, 18%);
  margin: auto;
  justify-content: center;
  gap: 10px;
}

.vkeV5nnYLVFnvKWNkdLP {
  width: 100%;
  height: 400px;
  text-align: left;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #fff;
}

.RBG6rSF6iiIi578dWBR6 {
  width: 100%;
  height: 50%;
  background-color: #ddd;
  margin-bottom: 0px;
  border-radius: 4px;
  padding: 5px;
}

.y1R_2PDcsaTtcTXvpykn {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 10px;
}

.y1R_2PDcsaTtcTXvpykn h3 {
  font-size: 16px;
  margin-bottom: 5px;
}

.y1R_2PDcsaTtcTXvpykn p {
  font-size: 12px;
  margin-bottom: 5px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.WEzydz0cE5Lg2x8ykT5_ {
  margin-top: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.IQZygVlb59iFvJmUp2tX {
  display: flex;
  gap: 5px;
  border-top: 1px solid #ccc;
  align-items: center;
  padding: 10px;
  height: auto;
}

.Ub8Qso8Rqa54z5yurLgM {
  width: 40px;
  min-width: 40px;
  height: 40px;
  background-color: #ddd;
}

.TaozAhXvYY7qKPYclv7m {
  width: 70%;
  margin: 0;
  font-size: 12px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.W7W6PaUzyBM6KfFfHalh {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.WDLpyt0aHJ2wMcs79flP,
.jySAgRgZqi0KPgAhsziK {
  margin: 0 5px;
  padding: 5px 10px;
  border: none;
  background-color: white;
  cursor: pointer;
}

.WDLpyt0aHJ2wMcs79flP:hover,
.jySAgRgZqi0KPgAhsziK:hover {
  background-color: #f1f1f1;
}
.qNG7TJEMg7OIaKY268o3 {
  color: red;
  text-decoration: underline;
}
@media (max-width: 768px) {
  .WzPSOQHxXdKdYczhgt5J {
    grid-template-columns: repeat(2, 1fr); /* Two-column layout for mobile */
  }
  .JwH3PHIYKoGhwcoSTRAV {
    display: none;
  }
  .GH1EFLcbq7ytwQ3IClp4 {
    text-align: center;
    margin-bottom: 10px;
  }
}
.w9IkjbamqKdtqljUEbpr {
  display: flex;
  align-self: flex-start;
  margin-bottom: 20px;
  position: relative;
  height: 40px; /* 원하는 높이로 설정 */
  left: 20px; /* 페이지 왼쪽에서 떨어진 거리 조정 */
}

.Jd7_EXvTvjY1M6fbVXKy {
  text-decoration: none;
  color: #ccc;
  font-size: 20px;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  font-family: inherit; /* Ensures the button text matches the surrounding text */
  height: 100%; /* 부모 요소의 높이를 채우도록 설정 */
  display: flex;
  align-items: center; /* 버튼 내 텍스트를 수직 가운데 정렬 */
  white-space: nowrap;
}
