.H6oANRjq6RmzhEqzDcXU {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  z-index: 1000;
  overflow-y: auto;
}
.KP6lgNzEZGTyvaxLykD8 {
  width: 95%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  margin: auto;
}

.ej_cMXvwbQVZhqiTzC3P {
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
}

.EbecEMIpY740AGF4iWQc {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.C37vwhPC3o9YJho84N2l {
  position: relative;
  width: 100%;
  max-width: 400px;
}

.kQgNS2_uFbMXbfx8zoVQ {
  width: 100%;
  padding: 10px 40px 10px 10px;
  font-size: 16px;
  background-color: #eee;
  border: 1px solid #ccc;
}

.uLtBjW0gWc857yreW5Xh {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
  font-size: 16px;
  color: #666;
}

.PLDmmoyfuIq2kuZ4sefO,
.O9Pxnw2UT2_9X69SXZTP {
  margin-bottom: 20px;
}

.fsI7j0pEzeeh1m6pipzt {
  display: flex;
  flex-direction: column;
}

.hcXfXoGQM13QdqqJ9npn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin:5px;
  color: #ccc;
}

.ul2l3ihR9x_rK5FIeqmB {
  background: none;
  border: none;
  font-size: 16px;
  cursor: pointer;
}

.J0RkhARl4JdGdtVNQL5h {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.CrmJJ7Fy0xDM4f05dHP6 {
  flex: 1 1 calc(50% - 10px); /* Adjust width to two columns */
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background: none;
  cursor: pointer;
  text-align: center;
}
