.w9IkjbamqKdtqljUEbpr {
  display: flex;
  align-self: flex-start;
  margin-bottom: 20px;
  position: relative;
  height: 40px; /* 원하는 높이로 설정 */
  left: 20px; /* 페이지 왼쪽에서 떨어진 거리 조정 */
}

.Jd7_EXvTvjY1M6fbVXKy {
  text-decoration: none;
  color: #ccc;
  font-size: 20px;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  font-family: inherit; /* Ensures the button text matches the surrounding text */
  height: 100%; /* 부모 요소의 높이를 채우도록 설정 */
  display: flex;
  align-items: center; /* 버튼 내 텍스트를 수직 가운데 정렬 */
  white-space: nowrap;
}
/* src/css/Signup.module.css */
.zwelidfk3bD2OFvhxk0v {
  width: 100%;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.D8lK8x_SF3bv1h2kUFhy {
  text-align: left;
  margin-bottom: 20px;
}

.D8lK8x_SF3bv1h2kUFhy a {
  text-decoration: none;
  color: #333;
  font-size: 14px;
}

.zwelidfk3bD2OFvhxk0v h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

.jbOk0VFo062SUZ1sVePs {
  width: 800px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
  justify-content: center;
}

.jbOk0VFo062SUZ1sVePs .BVr1oUnXQiw_wILsJu1X {
  width: 100%;
  text-align: left;
  white-space: nowrap;
}

.jbOk0VFo062SUZ1sVePs label {
  display: block;
  margin-bottom: 5px;
  font-size: 14px;
  color: #333;
}

.jbOk0VFo062SUZ1sVePs input[type="text"],
.jbOk0VFo062SUZ1sVePs input[type="password"],
.jbOk0VFo062SUZ1sVePs input[type="email"],
.jbOk0VFo062SUZ1sVePs input[type="number"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin: 5px 0px;
  box-sizing: border-box;
}

.binLaEzP7vHfLCJIbFxe,
.uSeAcPZMiEwjm4qLFFLd {
  display: flex;
  align-items: center;
  gap: 5px;
  width: 100%;
}

.qsbM7AwtNqV8HpUDi1Ab {
  font-size: 18px;
}

.binLaEzP7vHfLCJIbFxe input,
.uSeAcPZMiEwjm4qLFFLd input {
  width: calc(30%);
}

.yNPdnroJFMpb_jBd4k7c {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}

.fg8IA0bHAK6Ov7_7I_8d {
  display: flex;
  gap: 10px;
  align-items: center;
  width: 100%;
}

.HRup1BTjdi6ZC99ofjsQ {
  width: 20%;
  padding: 10px;
  background-color: transparent;
  border: 1px solid #ccc;
  border-radius: 4px;
  cursor: pointer;
}

.U0Rvq0yNo6ZyEsRHAtFm {
  text-align: left;
  width: 100%;
}

.FWNXb0F1SV_iEvN1Ptpy {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.FWNXb0F1SV_iEvN1Ptpy label {
  margin-left: 5px;
}

textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.q9oRwU0jPF0IsP0I4J3A {
  display: flex;
  gap: 10px;
}

.z2xb0GmlsXsNkueU2I9g {
  display: flex;
  gap: 10px;
  align-items: center;
}

.PNVoX29NRDB2bilQK7g7 {
  width: 100%;
  padding: 15px;
  background-color: #ff6b6b;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

@media (max-width: 768px) {
  .HRup1BTjdi6ZC99ofjsQ {
    width: 30%;
  }
}

