
.iM3rhbA7ePGqWQpI1aTk {
  width: 100%;
  padding: 10px;
}

.lOdJojAqt59nUhXmCG0t {
  display: inline-block;
  margin-bottom: 20px;
  font-size: 16px;
  color: #333;
  cursor: pointer;
}

.Ay6mWKMoIY8Jo6G0Bfp7 {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 20px;
  padding: 0;
  border-bottom: 2px solid #ccc;
  white-space: nowrap;
}

.lL6KnOonjA5Pr8ZY1OZK {
  cursor: pointer;
  padding: 5px 5px;
  font-size: 14px;
  font-weight: bold;
}

.p5P7PpoRYCZtkJ5Oo9Nx {
  color: red;
}

.ryIipthz7EEAsSrch4J1 {
  font-family: "Noto Sans KR", sans-serif;
  display: flex;
  justify-content: flex-end;
  padding: 10px;
  position: relative; /* For dropdown positioning */
}

.ryIipthz7EEAsSrch4J1 select {
  border: none;
  border-bottom: 1px solid black;
  padding: 5px;
  background: transparent;
  font-family: inherit;
  cursor: pointer;
  -webkit-appearance: none; /* Remove default arrow in WebKit browsers */
  -moz-appearance: none; /* Remove default arrow in Firefox */
  appearance: none; /* Remove default arrow in other browsers */
}

.ryIipthz7EEAsSrch4J1 select::-ms-expand {
  display: none; /* Remove default arrow in Internet Explorer */
}

.ryIipthz7EEAsSrch4J1::after {
  content: '▾';
  font-size: 12px;
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
}

.ryIipthz7EEAsSrch4J1 select option {
  font-family: inherit; /* Apply font family to options */
}
.Z0FxzdnsZ9qKI0B6eAV0 {
  padding: 20px;
}

.sK0bf2lzMCwSvyMhHvAi {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

.ljbgyMXZCciqAkM8TRW1 {
  padding: 10px;
  text-align: left;
}

.F2Y9B44D9Bd4qDG2ej_7 {
  width: 100%;
  height: 200px;
  background-color: #ddd;
  margin-bottom: 10px;
}

.n9ADNBe0mh0x7eSh2VtT {
  font-weight: bold;
}
.i1ysrdINe54PUWSpOPPi {
  font-size: 14px;
  position: relative;
  padding-right: 20px; /* Ensure space for the cart icon */
}

.i1ysrdINe54PUWSpOPPi p {
  margin: 0;
}
.i1ysrdINe54PUWSpOPPi svg {
  position: absolute;
  right: 0;
  top: 0;
}

.UojQzMIpEuUousk2Vs3y {
  display: flex;
  justify-content: center;
  padding: 20px 0;
}

.FP7wp_1VDj9uHOSM4qut {
  cursor: pointer;
  padding: 0 10px;
}

.yq5RmxztydiWTPcIEFRH {
  cursor: pointer;
  padding: 0 10px;
}

.nDIptV9UoyOvpSg9kYAz {
  font-weight: bold;
}
/* 공통 CSS */
.yq5RmxztydiWTPcIEFRH.x5150ubIhKbGzTzLkvOh {
  color: red;
}
@media (max-width: 767px) {
  .iM3rhbA7ePGqWQpI1aTk{
    padding: 0px;
  }
  .sK0bf2lzMCwSvyMhHvAi {
    grid-template-columns: repeat(2, 1fr);
  }
  .ryIipthz7EEAsSrch4J1 select{
    width: 20%;
  }
  .ryIipthz7EEAsSrch4J1{
    padding: 0px;
  }
  .Z0FxzdnsZ9qKI0B6eAV0 {
    padding: 0px;
  }
  
}
.w9IkjbamqKdtqljUEbpr {
  display: flex;
  align-self: flex-start;
  margin-bottom: 20px;
  position: relative;
  height: 40px; /* 원하는 높이로 설정 */
  left: 20px; /* 페이지 왼쪽에서 떨어진 거리 조정 */
}

.Jd7_EXvTvjY1M6fbVXKy {
  text-decoration: none;
  color: #ccc;
  font-size: 20px;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  font-family: inherit; /* Ensures the button text matches the surrounding text */
  height: 100%; /* 부모 요소의 높이를 채우도록 설정 */
  display: flex;
  align-items: center; /* 버튼 내 텍스트를 수직 가운데 정렬 */
  white-space: nowrap;
}
.gir1ZOek5CQrKcUJYC1J {
  padding: 20px;
}

.yIIuIMmNXiAU_LZRF4Sy {
  display: flex;
  gap: 20px;
}

.P5DqNl5BR4NoFGQ3nKjQ {
  flex: 6;
}

.B2jGXMBaLdf0mT4Fjqlb {
  width: 100%;
  height: 400px;
  background-color: #ddd;
}

.UHauloOxwbgI1Y1K4kon {
  display: flex;
  gap: 5px;
  margin-top: 10px;
}

.xy6wBHcs2H27iNvPgdTE {
  width: 50px;
  height: 50px;
  background-color: #ddd;
}

.PucI_XSK2ryiC5MLqttw {
  flex: 4;
  display: flex;
  flex-direction: column;
}

.PucI_XSK2ryiC5MLqttw h2 {
  margin: 10px 0;
  font-size: 24px;
  border-bottom: 1px solid #ccc;
}

.PucI_XSK2ryiC5MLqttw p {
  font-weight: bold;
  margin: 10px 0;
  font-size: 16px;
}
.qsD9_f1r4V5vaNnKezlg{
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #ccc;
  padding-bottom:  10px;
}
.vTCuQUtecJnDQVRLCKj1 {
  color: #bbb;
}

.SahXJQwoElqg3zLhEeVl {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.FIiSfb0QBh9MhTR1wYxQ p,
.DaOXPE1ZWFk2THkazyEP p,
.qLUa5sN0knYJAK7gVYHV,
.Myhd7QeQmEEKvXW5UTlS,
.kDkAHPCD6_QMyTXeiHQB {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ccc;
  width: 100%;
  padding: 10px 0;
}

.Myhd7QeQmEEKvXW5UTlS{
  padding: 0px 0px;
}
.Myhd7QeQmEEKvXW5UTlS p {
  margin: 0
}
.ZBoi5ppuLqvPgxMlBPqW {
  position: relative;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 5px;
}

.siKetcVK_4bpyQ174wHG {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 1px solid #000;
}

.siKetcVK_4bpyQ174wHG:nth-child(5)::after {
  content: '';
  position: absolute;
  top: 0;
  left: 122px;
  width: 1px;
  height: 50px;
  background-color: #ccc;
}

.DaOXPE1ZWFk2THkazyEP select {
  width: 80%;
  padding: 5px;
  border-radius: 10px;
  border: 1px solid #ccc;
  text-align: center;
  color: #666;
}

.qLUa5sN0knYJAK7gVYHV span {
  cursor: pointer;
  padding: 0 10px;
}

.Myhd7QeQmEEKvXW5UTlS .rVG5b3V_M8_8GIfR6sHd {
  font-size: 24px;
  font-weight: bold;
}
.kDkAHPCD6_QMyTXeiHQB {
  margin-top: 30px;
  height: 50px;
  display: flex;
  width: 100%;
  border-bottom: none; /* Border-bottom 제거 */
}
.D_5axBqtND3danyso3Uw{
  font-weight: normal !important ;
  font-size: 12px !important;
  color: #ccc;
  margin-left: 20%;
  text-align: center;
}
.elgBuGMsySoUIAdE5X_M {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 14px;
  color: #999;
  border-bottom: 1px solid #ccc;
  cursor: pointer;
}
.VMJDsQkhPnhXz4pgcn55 {
  width: 100%;
  height: 800px;
  margin: 50px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid #000;
  border-bottom: 1px solid #ccc;
}

.Q0a6YemwXMA0NN9MatPn {
  width: 80%;
  height: 80%;
  background-color: #ccc;
}
.uZZVwi6Ye0Pzs08P_XdQ {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}
.m7pQ_hAxXrlL2IdH7tVv {
  text-align: center;
}

.foQiIkxn2Tsqq5SuPgC3 {
  text-align: left;
  color: gray;
  width: 100%; /* 왼쪽 정렬을 위해 너비를 100%로 설정 */
}

.sUh3oyjn49DwNTolZygi {
  width: 100%;
  font-size: 16px;
  color: #666;
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid #000;
  padding: 5px;
}

.lIP41GMQaqpsQNAZeIEp {
  border: none;
  background-color: transparent;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
}

.F689z4R2xInwUJMBgn3t {
  width: 100%;
  margin-top: 10px;
  text-align: left;
  display: flex;
  flex-direction: column;
}
.MAW0U4vB3caQSpMq2IYB{
  display: flex;
  gap: 10px;
}
.E6hbqxU0sk3seuYDiMXc {
  padding: 10px 0;
  order: 0; /* 기본 순서 */
}

.hxRnxQu01xRbwfrlQ7HH {
  width: 15%;
  height: 120px;
  background-color: #ddd;
}

.ICkb8gwOhROAHuLKRing {
  font-weight: bold;
}

.febi57awUtQyDMY5ccOv {
  font-weight: bold;
  margin-top: 10px;
  padding: 10px;
  font-size: 20px;
}

.MuUzL7Klg5uwqSocaeQe {
  width: 100%;
  height: 40px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: bolder;
}

.MuUzL7Klg5uwqSocaeQe option:hover {
  background-color: #000;
  color: #fff;
}

.eqfM25TGDbeZhvXxrMCA {
  width: 100%;
  padding: 0px 10px;
  resize: none;
}

.PKk1rMrK5P9QG9lTRxVU {
  border-bottom: 1px solid #ddd;
  margin-top: 10px;
}

.MuJJqiQRGV2m3d08Kpsw {
  margin-top: 20px;
}

.wvLT184cQoIIKh2mdmzA {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

.t6B8geTCleL2lHAe95IQ {
  background-color: #fff;
  padding: 10px;
}

.DMPpDApw8zlPZwHsTs1o {
  width: 100%;
  height: 150px;
  background-color: #ddd;
}

.bQY3AJ3pvrcExor3ukSr {
  margin-top: 10px;
}

.eplMfTLdLGzoqZ6hqGFK {
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 5px;
  flex-direction: row;
}

._9F0loIKW2HKv7r5BpfO {
  margin-left: 10px;
}

.waoqK9aX5toHK2fo5aH1 {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.A65PoHqQTXcc7yRg_Jyx {
  width: 100%;
  height: 200px;
  resize: none;
  font-weight: bold;
  font-family: 'Noto Sans KR', sans-serif;
}

.hIRd8rQkotNMb8LdT4eM {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  position: relative;
  width: 600px;
  
}

.T3AA8SAN1BoDXiffm0y6 {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  margin-bottom: 10px;
  border-bottom: 1px solid #ccc;
}

.X1ulQtqqXX6PQRrAmyZ9 {
  flex: 1;
  text-align: center;
}
.X1ulQtqqXX6PQRrAmyZ9 p{
  margin: 5px 0;
  font-weight: bold;
}
.hxXYHIK7wYYb0OZvo68v {
  cursor: pointer;
  justify-self: flex-end;
}
.Ml_w2sFPxpcBQUdE150o {
  width: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #000;
  border-radius: 10px;
  background-color: transparent;
  cursor: pointer;
  padding: 2px;
  font-size: 40px;
}

.btV2dfql0ChnGhGAjjwQ {
  width: 80%;
  background-color: #000;
  color: #fff;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  padding: 14px;
}
.C36ilKs1YNLuUZhwEbL9 {
  margin-top: 10px;
  display: flex;
  align-items: flex-start;
  gap: 10px;
  flex-direction: column;
}

.H4Un53mQJbWP5Km_ZtTE {
  font-size: 25px;
  cursor: pointer;
}

.Z50VcqrMMPMHGO_hUFs6 {
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #ccc;
}

.tHxjc_OVKjOSl3Jv71MK {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  background-color: #E95762;
  color: #fff;
  border: none;
  cursor: pointer;
}

.r2UQjnyEFhDTME0Z15WC {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.HT0zdZqnY_UpAZEaGn7g {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  resize: none;
  height: 100px;
}

.WlZKBsugbQDJKljvRvGs {
  display: flex;
  justify-content: space-around;
}

.jjHDI60mQpgeZ5M_GjiX {
  white-space: nowrap;
  cursor: pointer;
  padding: 10px;
  transition: color 0.3s;
}
.xc0rGxhxXdWY2tHzaExl {
  margin: 0 5px;
  align-self: center; /* 가운데 점을 중앙에 위치하게 설정 */
}

.sBmH7M5HNZ4uAQ1YGgEQ {
  color: #000;
  font-weight: bold;
  border-bottom: 2px solid #000;
}

@media (max-width: 768px) {
  .yIIuIMmNXiAU_LZRF4Sy {
    flex-direction: column;
  }

  .B2jGXMBaLdf0mT4Fjqlb {
    height: 200px;
  }

  .PucI_XSK2ryiC5MLqttw h2 {
    font-size: 16px;
  }

  .PucI_XSK2ryiC5MLqttw p {
    font-size: 12px;
  }
  .DaOXPE1ZWFk2THkazyEP p{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .DaOXPE1ZWFk2THkazyEP select{
    margin-top: 20px;
    width: 100%;
  }
  .hxRnxQu01xRbwfrlQ7HH {
    width: 100%;
    height: 100px;
  }

  .wvLT184cQoIIKh2mdmzA {
    grid-template-columns: repeat(2, 1fr);
  }

  .hIRd8rQkotNMb8LdT4eM {
    width: 90%;
  }

  .A65PoHqQTXcc7yRg_Jyx {
    width: 100%;
  }

  .jjHDI60mQpgeZ5M_GjiX {
    width: 100%;
    text-align: center;
  }

  .zspOB333m2QwmHC__hUS {
    order: 2;
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 20px;
  }

  .F689z4R2xInwUJMBgn3t {
    order: 0;
  }
}
