.tBYV0mw9oeQZS5JtZ6F3 {
    display: flex;
    width: 85%;
    margin: 0 auto;
  }
  
  .efgIlMJ2dX1yI1yb1S1N {
    padding: 40px;
    border-right: 1px solid #ccc;
  }
  
  .efgIlMJ2dX1yI1yb1S1N ul {
    list-style-type: none;
    padding: 0;
  }
  
  .efgIlMJ2dX1yI1yb1S1N ul li {
    padding: 10px 0;
    cursor: pointer;
  }
  
  .efgIlMJ2dX1yI1yb1S1N ul li.e1iopSY6g3pAsKgcTOLr {
    color: red;
    font-weight: bold;
  }
  
  .xV2VTB892CG7gxb2s3mv {
    flex: 1;
    padding: 20px;
  }
  
  .fxAdIchMtpa1P40Hbab9 {
    text-align: center;
    padding-bottom: 75px;
  }
  
  .sYYLlHwAWpa6BBF2BSd4 {
    padding-left: 150px;
    width: 100%;
    text-align: left;
  }
  
  .sYYLlHwAWpa6BBF2BSd4 h2 {
    font-size: 1.2em;
  }

@media (max-width: 768px) {
  .tBYV0mw9oeQZS5JtZ6F3 {
    flex-direction: column;
    width: 100%;
  }

  .efgIlMJ2dX1yI1yb1S1N {
    border-right: none;
    border-bottom: 1px solid #ccc;
    padding: 20px;
  }

  .xV2VTB892CG7gxb2s3mv {
    padding: 20px;
    width: 100%;
  }

  .sYYLlHwAWpa6BBF2BSd4 {
    padding-left: 0;
    width: 100%;
  }
}
