.artistContainer {
  padding: 0px
}

.alphabetContainer {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  width: 100%;
  border-bottom: 1px solid #ccc;
  gap: 3px;
  font-size: 10px;
}
.alphabetContainer button{
  margin: 0px;
}
.letter {
  margin: 0 5px;
  text-decoration: none;
  color: black;
  background-color: transparent;
  font-size: 14px;
  cursor: pointer;
  border: 0;
  font-weight: bold;
}

.activeLetter {
  color: red;
  font-weight: bold;
}

.artistSection {
  width: 90%;
  margin: auto
}

.letterHeader {
  font-size: 100px;
  margin: 20px 0px;
}

.artistList {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 4 columns layout */
  gap: 20px; /* Add space between columns and rows */
}

.artistName {
  margin: 5px 10px;
  text-decoration: none;
  color: black;
  text-align: left;
}

@media (max-width: 768px) {
  .alphabetContainer {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: min-content;
    overflow-x: auto; /* Enable horizontal scrolling on mobile */
    white-space: nowrap; /* Prevent line breaks */
  }

  .artistList {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Two-column layout */
    gap: 5px;
  }

  .artistName {
    flex: 1 0 48%; /* Adjust to make better use of space on small screens */
    margin: 5px 5px;
  }
}