.searchPage {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  z-index: 1000;
  overflow-y: auto;
}
.header {
  width: 95%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  margin: auto;
}

.closeButton {
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
}

.searchContainer {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.searchInputWrapper {
  position: relative;
  width: 100%;
  max-width: 400px;
}

.searchInput {
  width: 100%;
  padding: 10px 40px 10px 10px;
  font-size: 16px;
  background-color: #eee;
  border: 1px solid #ccc;
}

.searchButton {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
  font-size: 16px;
  color: #666;
}

.recentSearches,
.recommendedSearches {
  margin-bottom: 20px;
}

.searchTerms {
  display: flex;
  flex-direction: column;
}

.searchTerm {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin:5px;
  color: #ccc;
}

.removeButton {
  background: none;
  border: none;
  font-size: 16px;
  cursor: pointer;
}

.recommendButtons {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.recommendButton {
  flex: 1 1 calc(50% - 10px); /* Adjust width to two columns */
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background: none;
  cursor: pointer;
  text-align: center;
}