.gridPage {
  padding: 20px;
}

.artistInfo {
  margin: auto;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  width: 80%;
}

.artistImagePlaceholder {
  width: 150px;
  height: 150px;
  background-color: #ddd;
  border-radius: 50%;
  margin-right: 20px;
}

.artistDetails {
  flex: 1;
}

.artistName {
  font-size: 32px;
  margin-bottom: 10px;
}

.artistBio {
  font-size: 16px;
  color: #666;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.artistBio h2 {
  font-size: 32px;
  font-weight: bold;
  margin: 0px;
}

.artistBio p {
  margin: 0px;
}

.moretext {
  font-weight: bold;
  color: #000;
  cursor: pointer;
}

.sectionTitle {
  font-size: 24px;
  margin-top: 20px;
  margin-bottom: 10px;
}

.gridContainer {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 10px;
}

.gridItem {
  padding: 10px;
  text-align: left;
  position: relative; /* Ensure relative positioning for cart icon */
}

.imagePlaceholder {
  width: 100%;
  height: 200px;
  background-color: #ddd;
  margin-bottom: 10px;
}

.headtext {
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.itemDetails p {
  font-size: 12px;
}

.faCartPlusIcon {
  margin-left: 10px;
  font-size: 20px;
  color: #000; /* 원하는 색상으로 변경하세요 */
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.pageNumber,
.pageArrow {
  margin: 0 5px;
  padding: 5px 10px;
  border: 1px solid #ccc;
  background-color: white;
  cursor: pointer;
}

.pageNumber:hover,
.pageArrow:hover {
  background-color: #f1f1f1;
}

@media (max-width: 600px) {
  .artistInfo {
    flex-direction: column;
    align-items: center;
  }

  .artistImagePlaceholder {
    margin-right: 0;
    margin-bottom: 20px;
  }

  .artistDetails {
    text-align: center;
  }

  .artistBio {
    align-items: center;
  }

  .gridContainer {
    grid-template-columns: repeat(2, 1fr); /* Two-column layout for mobile */
  }
}