.checkoutContainer {
  padding: 50px;
  margin-bottom: 440px;
}

.checkoutHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.checkoutHeader h2 {
  font-size: 24px;
  font-weight: bold;
}

.checkoutContent {
  display: flex;
  width: 80%;
  margin: auto;
}

.checkoutItemsContainer {
  width: 60%;
  margin-right: 20px;
}

.checkoutItemHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: bold;
  margin: 20px;
  padding: 10px;
  width: 100%;
}

.checkoutItemHeader label {
  display: flex;
  align-items: center;
  font-size: 18px;
}

.checkoutItemHeader input {
  width: 20px;
  height: 20px;
  margin-right: 5px; /* Space between checkbox and text */
}
.checkoutItemsSection {
  display: grid;
  grid-template-columns: 1fr; /* Single column layout */
  gap: 25px; /* Space between grid items */
  border: 1px solid #ccc; /* Add border around the section */
  padding: 32px 44px;
  margin: 0 20px;
}

.checkoutItemContainer {
  display: flex;
  align-items: flex-start;
  padding-bottom: 50px;
  border-bottom: 1px solid #ccc; /* Add bottom border to each item */
  flex-direction: column;
}

.itemCheckbox {
  margin: 0px;
  width: 20px;
  height: 20px;
}

.checkoutItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%; /* Set item width to 100% */
}

.itemDetails {
  flex: 1;
  padding: 0;
}

.itemName {
  font-weight: bold;
  margin: 0px;
}

.itemPrice {
  margin-top: 5px;
}

.itemOption {
  color: #555;
  margin: 0px;
}

.imagePlaceholder {
  width: 160px;
  height: 191px;
  background-color: #eee;
}

.checkoutSummaryContainer {
  width: 368px;
  padding: 20px;
}

.checkoutStepContainer {
  text-align: right; /* Align steps to the right */
  margin: 20px;
}

.checkoutStep {
  margin-bottom: 10px;
}
.checkoutStep span {
  margin: 0 5px; /* Add margin between steps and arrows */
}
.checkoutStep .redText {
  color: red; /* Make the "장바구니" text red */
  font-weight: bold;
}

.checkoutSummary {
  border: 1px solid #ccc;  
  padding: 20px;
}
.checkoutSummary h2{
  font-size: 20px;
  
}
.checkoutSummary h3 {
  width: 100%;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
  text-align: right;
  border-top: 1px solid #ccc;
}

.checkoutSummary p {
  margin: 5px 0;
  font-size: 14px;
}

.purchaseButton {
  display: flex;
  width: 100%;
  padding: 10px;
  background-color: #ff5a5f;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 18px;
  font-weight: 400;
  border-radius: 4px;
  justify-content: center; /* Center text */
  align-items: center; /* Center text vertically */
}

.purchaseButton:hover {
  background-color: #e04a4e;
}

.amountContainer {
  display: flex;
  justify-content: space-between;
  margin: 5px 0;
}
.amountContainer p:first-child{
  color: #ccc;
}
.amountContainer .redText{
  font-size: 14px;
  color: red;
}
.checkoutSummary .amountContainer:last-child {
  border-bottom: 1px solid #ccc; /* Add bottom border to the last amountContainer */
  padding-bottom: 10px; /* Add padding for better spacing */
}
@media (max-width: 767px) {
  .checkoutContainer{
    padding: 0px;
    width: 100%;
  }
  .checkoutContent {
    flex-direction: column;
    width: 100%;
  }

  .checkoutItemsContainer {
    width: 100%;
    margin: 0px;
  }

  .checkoutSummaryContainer {
    width: 100%;
    margin-top: 20px;
    padding: 0px;
  }
  .checkoutItemHeader{
    width: 90%;
    padding: 0px;
  }
  .checkoutItemsSection {
    width: 90%;
    padding: 0px;
  }
  
  .chooseDelete{
  display: none !important  ;
  }
  .checkoutStep{
    display: none;
  }
  .checkoutItem {
    flex-direction: column;
    align-items: flex-start;
  }

  .imagePlaceholder {
    width: 100px;
    height: 100px;
    margin: 10px 0;
  }

  .purchaseButton {
    width: 100%;
  }
}
