.findAccountResultContainer {
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}

.backLink {
  text-align: left;
  margin-bottom: 20px;
}

.backLink a {
  text-decoration: none;
  color: #333;
  font-size: 14px;
}

h2 {
  font-size: 20px;
  margin-bottom: 20px;
}

.result {
  margin: 20px 0;
  font-size: 18px;
  color: #333;
}

.result p {
  margin: 10px 0;
}

.actions {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.actionButton {
  padding: 10px 20px;
  border: 1px solid #ccc;
  border-radius: 0;
  text-decoration: none;
  color: black;
  background-color: transparent;
  transition: background-color 0.3s;
  flex: 1;
  text-align: center;
}

.actionButton:first-child {
  border-right: none; /* 첫 번째 버튼의 오른쪽 경계선을 제거 */
}

.actionButton:hover {
  background-color: #ececec;
}

.actionButtonContainer {
  display: flex;
  border: 1px solid #ccc;
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
}
