.findAccountContainer {
  width: 100%;
  padding: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}


.label {
  text-align: left;
  width: 100%;
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.findTabs {
  margin-top: 100px;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.findTabs button {
  width: 200px;
  padding: 10px 20px;
  border: none;
  border: 1px solid #ccc;
  background: none;
  cursor: pointer;
  font-size: 16px;
}

.findTabs .active {
  border-bottom: 2px solid black;
}

.findAccountContainer h2 {
  font-size: 24px;
  margin-top: 50px;
  margin-bottom: 20px;
}

.authMethods {
  width: 350px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  font-size: 16px;
  font-weight: 100;
  white-space: nowrap;
}

.authMethods div {
  display: flex;
  align-items: center;
  cursor: pointer;
  margin: 0 10px;
}

.checkboxIcon {
  font-size: 20px;
  margin-right: 10px;
  color: lightgray;
}

.checkbox.selected .checkboxIcon {
  color: white;
  background-color: #ff6b6b;
  border-radius: 50%;
  margin-right: 8px;
  padding: 2px;
}

.findForm {
  width: 400px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
}

.findForm input {
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  height: 50px;
}

.phoneInput {
  display: flex;
  gap: 5px;
}

.phoneInput input {
  width: calc(30%);
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.hyphen {
  width: 12px;
  font-size: 18px;
  align-self: center;
}
.confirmButton {
  margin-top: 40px;
  width: 100%;
  padding: 10px;
  background-color: #ff6b6b;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

.result {
  margin: 20px 0;
  font-size: 18px;
}

.actions {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.actions a {
  padding: 10px 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  text-decoration: none;
  color: black;
}
