.footer {
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 400;
  font-style: normal;
  background-color: #f8f9fa;
  padding: 20px;
  text-align: center;
  border-top: 1px solid #f0f0f0;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  flex-direction: column;
  flex-shrink: 0;
  height: auto;
}

.footerHeader {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.footerLogo {
  font-weight: 900;
  font-size: 26px;
  color: #777777;
  margin-right: 10px;
}

.footerInfo {
  font-size: 14px;
  color: #666666;
  display: none; /* 기본적으로 숨김 */
}

.footerInfo.visible {
  display: block; /* 보이게 설정 */
}

.footerInfo p {
  margin: 5px 0;
  line-height: 1.5;
}

.footerToggle {
  cursor: pointer;
  font-size: 16px;
  color: #777777;
  display: none; /* 기본적으로 숨김 */
}

@media (max-width: 767px) {
  .footer {
    width: 100%;
    padding: 0px;
    margin-top: 30px;
    position: relative; /* 추가 */
    bottom: 0; /* 추가 */
    left: 0; /* 추가 */
  }
  .footerToggle {
    display: block; /* 모바일 화면에서는 보이게 */
  }
}