.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f8f9fa;
  padding:  20px;
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.headerTop,
.headerBottom {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 0px 20px;
  margin-bottom: 10px;
  align-items: flex-start;
}

.headerTop {
  justify-content: space-between;
}

.headerTop h1 {
  margin: 0;
  font-size: 1.5em;
}

.searchInput {
  width: 360px;
  margin: 0 20px;
  padding: 10px;
  font-size: 0.75em;
  background-color: #f1f1f1;
  border: 0;
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.headerLinks {
  align-items: center;
  margin-left: auto;
  display: flex;
  gap: 20px;
}

.headerBottom {
  justify-content: flex-start;
  gap: 20px;
  position: relative;
}

.headerBottom span {
  margin: 0;
  padding: 0;
  font-size: 1em;
  cursor: pointer;
}

.separator {
  margin: 0 10px;
}

.link {
  color: black;
  text-decoration: none;
  padding-bottom: 6px; /* 밑줄 높이에 맞춰서 설정 */
  border-bottom: 1px solid transparent; /* 기본적으로 투명한 밑줄 */
  transition: all 0.5s;
}

.link:hover {
  border-bottom: 1px solid red;
}

.link.active {
  color: red;
  border-bottom: 1px solid red;
}
@keyframes slideDown {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideUp {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(-10px);
  }
}

.dropdownMenu {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: white;
  border: 1px solid #ccc;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  z-index: 10;
  width: 100%;
  padding-top: 10px;
  padding-right: 40%;
  box-sizing: border-box;
  gap: 10px;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}

.dropdownMenu.show {
  opacity: 1;
  visibility: visible;
}

.dropdownItem {
  width: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  box-sizing: border-box;
}

.dropdownBox {
  width: 125px;
  height: 125px;
  background-color: #ccc;
  margin-bottom: 5px;
}

.dropdownItem a {
  text-decoration: none;
  color: black;
  text-align: center;
}

.logoutButton {
  cursor: pointer;
  color: #333;
}

.hamburgerMenu {
  display: none;
  cursor: pointer;
}

.hamburgerLines {
  width: 25px;
  height: 3px;
  background-color: black;
  margin: 4px 0;
}

.mobileMenu {
  display: none;
}

.mobileMenuLinks .separator {
  display: none;
}


.desktopOnly {
  display: block;
}

.mobileOnly {
  display: none;
}

@media (max-width: 768px) {
  .header {
    width: 100%;
    background-color: transparent;
    padding: 0px;
  }
  .headerTop {
    justify-content: space-between;
    padding: 0px;
  }

  .headerBottom {
    display: none;
  }

  .searchInput {
    display: none;
  }

  .desktopOnly {
    display: none;
  }

  .mobileOnly {
    display: block;
  }

  .hamburgerMenu {
    padding-left: 30px;
    display: block;
  }

  .dropdownMenu {
    grid-template-columns: repeat(2, 1fr);
    padding-right: 0;
  }

  .dropdownItem {
    width: auto;
  }

  .mobileMenu {
    display: flex;
    flex-direction: column;
    width: 60%;
    background-color: white;
    position: absolute;
    top: 45px; /* Adjust based on the header height */
    border: 1px solid #ccc;
    z-index: 10;
    left: 40%;
    padding: 0px
  }

  .mobileMenuLinks {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .mobileMenuHeader {
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding: 20px 10px;
    border-bottom: 1px solid #000;
    gap: 5px;
  }
  .lightFont {
    font-weight: 500; /* 원하는 폰트 두께로 설정 */
  }
  .mobileMenuHeader span {
    font-size: 1em;
    white-space: nowrap ;
    font-weight: 400;
    padding: 0 5px;
  }
  
  .mobileMenuHeader .closeButton {
    padding: 0px;
    cursor: pointer;
  }
  .menuItem{
    justify-content: space-between; /* 텍스트와 화살표 사이에 공간을 만듭니다 */
  }
  .menuItem p{
    margin: 0px;
  }
.arrow {
  margin-left: auto; /* 화살표를 오른쪽 끝으로 보냅니다 */
  padding-right: 10px; /* 화살표와 텍스트 사이의 간격을 추가합니다 */
}
  .mobileMenuLinks span,
  .mobileMenuLinks a {
    display: flex;
    font-size: 1.2em;
    padding: 10px 0;
    text-align: justify;
    padding-left: 40px;
    border-bottom: 1px solid #000;
    
  }
  .mobileDropdownItem{
    font-weight: 400;
  }
  .mobileBottomBar {
    display: flex;
    justify-content: space-around;
    width: 100%;
    background-color: white;
    border-top: 1px solid #ccc;
    z-index: 1;
  }

  .mobileBottomBar a {
    color: black;
    text-decoration: none;
    font-size: 1em;
    padding: 10px 0;
  }

  .mobileBottomBar a.active {
    color: red;
  }
  .languageToggle {
    width: 30% !important;
    font-size: 14px;
    color: #888;
    border: 1px solid #888;
    padding: 0px !important;
    margin-left: 30px;
    margin-bottom: 10px;
    cursor: pointer;
    display: inline-block;
  }

  .loginSignup {
    font-size: 16px;
    display: flex;
    justify-content: flex-end;
    width: 100%;
  }

  .loginSignup span {
    margin-left: 10px;
  }

  .closeButton {
    margin-left: auto;
    cursor: pointer;
  }
}