.item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
.homeContainer{
  display: flex;
  flex-direction: column;
}
.newGrid {
  order: 2; /* 기본 순서 */
}

.bestGrid {
  order: 1; /* 기본 순서 */
}

.asymmetricGridContainer {
  order: 3;
}

.symmetricGridContainer {
  order: 4;
}

.textContainer {
  order: 5;
}
.homeContainer h2 {
  display: flex;
  justify-content: center;
}

.homeGrid {
  display: grid;
  gap: 5px;
  grid-template-columns: repeat(12, 1fr); /* 12 columns */
  grid-template-rows: repeat(7, 100px); /* 7 rows */
  grid-template-areas:
    "large large large large large large medium1 medium1 medium1 medium2 medium2 medium2"
    "large large large large large large medium1 medium1 medium1 medium2 medium2 medium2"
    "large large large large large large medium1 medium1 medium1 medium2 medium2 medium2"
    "large large large large large large small-right1 small-right1 small-right1 small-right6 small-right6 small-right6"
    "large large large large large large small-right2 small-right2 small-right2 small-right7 small-right7 small-right7"
    "large large large large large large small-right3 small-right3 small-right3 small-right8 small-right8 small-right8"
    "small-left1 small-left1 small-left1 small-left1 small-left1 small-left1 small-right4 small-right4 small-right4 small-right9 small-right9 small-right9"
    "small-left2 small-left2 small-left2 small-left2 small-left2 small-left2 small-right5 small-right5 small-right5 small-right10 small-right10 small-right10";
  margin: auto;
  padding: 10px;
}

.homePrice {
  font-weight: bold;
}

.item p {
  margin: 5px 5px;
}

.item:hover .greyBox, .item:hover .smallGreyBox {
  background-size: 200%; /* 이미지 확대 */
}

.greyBox {
  width: 100%;
  height: 80%;
  background-color: #ddd;
  background-size: cover;
  transition: background-size 0.5s ease, background-position 0.5s ease;
  background-position: center;
}

.smallGreyBox {
  width: 80px;
  min-width: 80px;
  margin-right: 10px;
  height: 100px;
  background-color: #ddd;
  background-size: cover;
  transition: background-size 0.5s ease, background-position 0.5s ease;
  background-position: center;
}

.largeItem {
  grid-area: large;
}

.largeItem .text {
  white-space: nowrap;
  text-align: left;
  height: 20%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.largeItem .text p:first-child {
  font-size: 24px; /* First line larger */
  font-weight: 700;
  margin: 0;
}

.largeItem .text p:last-child {
  font-size: 14px; /* Second line smaller */
  margin: 0;
}

.mediumItem1 {
  grid-area: medium1;
}

.mediumItem2 {
  grid-area: medium2;
}

.mediumItem1, .mediumItem2 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.mediumItem1 .text, .mediumItem2 .text {
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.mediumItem1 .text p:first-child, .mediumItem2 .text p:first-child {
  font-size: 16px; /* First line larger */
  font-weight: 700;
  margin: 0;
}

.mediumItem1 .text p:last-child, .mediumItem2 .text p:last-child {
  font-size: 12px; /* Second line smaller */
  margin: 0;
}

.smallItemLeft1 {
  grid-area: small-left1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.smallItemLeft2 {
  grid-area: small-left2;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.smallItemRight1 {
  grid-area: small-right1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.smallItemRight2 {
  grid-area: small-right2;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.smallItemRight3 {
  grid-area: small-right3;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.smallItemRight4 {
  grid-area: small-right4;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.smallItemRight5 {
  grid-area: small-right5;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.smallItemRight6 {
  grid-area: small-right6;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.smallItemRight7 {
  grid-area: small-right7;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.smallItemRight8 {
  grid-area: small-right8;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.smallItemRight9 {
  grid-area: small-right9;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.smallItemRight10 {
  grid-area: small-right10;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.smallItem .greyBox {
  width: 30%;
  height: 90%;
  margin-right: 10px;
}

.bestGrid {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  gap: 10px;
}

.bestItem {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.bestText {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.bestText > * {
  margin: 0px; /* 원하는 간격으로 조정 */
}

.middleText {
  display: flex;
  margin: 0;
}

.priceCart {
  margin-left: 50px; /* 아이콘과 텍스트 사이의 간격 조정 */
}

.centeredHeading {
  text-align: center;
  margin: 20px 0;
}

.bestGreyBox {
  height: 150px;
}

/* 새로운 그리드 섹션 */
.newGrid {
  margin-top: 40px;
  text-align: center;
}

.newGridContainer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  gap: 10px;
  grid-template-areas:
    "item1 item2 item2 item3"
    "item1 item2 item2 item3"
    "item1 item2 item2 item4"
    "item5 item6 item6 item7"
    "item5 item6 item6 item7";
  max-width: 1400px;
  margin: 0 auto; /* 그리드를 가로 중앙으로 정렬 */
}

.newGridItem {
  background-color: #eee;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: 14px;
  color: white;
}

.newGridItem p {
  margin: 2px;
}

.newGridItem1 { grid-area: item1; }
.newGridItem2 { grid-area: item2; }
.newGridItem3 { grid-area: item3; }
.newGridItem4 { grid-area: item4; }
.newGridItem5 { grid-area: item5; }
.newGridItem6 { grid-area: item6; }
.newGridItem7 { grid-area: item7; }

/* New Grid for 비대칭 그리드 */
.asymmetricGrid {
  margin-top: 40px;
  text-align: center;
}

.asymmetricGrid {
  display: grid;
  grid-template-columns: 1fr 1fr 2fr;
  grid-template-rows: repeat(3, 150px);
  gap: 10px;
  grid-template-areas:
    "item1 item1 item2"
    "item1 item1 item2"
    "item1 item1 item3";
  width: 90%;
  margin: auto;
}

.asymmetricGridItem {
  background-color: #eee;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
}

.gridItem1 { grid-area: item1; }
.gridItem2 { grid-area: item2; }
.gridItem3 { grid-area: item3; }

/* New Grid for 대칭 2열 그리드 */
.symmetricGridContainer {
  text-align: center;
  margin-top: 40px;
  font-size: 18px;
  font-weight: bold;
}

.sliderContainer {
  max-width: 1400px;
  margin: 0 auto;
}

.symmetricGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  width: 90%;
  margin: auto;
}

.symmetricGridItem {
  height: 200px; /* 높이를 고정하여 일정한 크기로 유지 */
  position: relative;
}

.profilePlaceholder {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.profileIcon {
  width: 30px;
  height: 30px;
  background-color: #ccc;
  margin-right: 10px;
}

.itemText {
  text-align: left;
  font-size: 14px;
}

/* 텍스트 스타일 */
.asymmetricGridContainer, .symmetricGridContainer, .textContainer {
  text-align: center;
  margin-top: 40px;
  font-size: 18px;
  font-weight: bold;
}

.textContainer p {
  margin: 10px 0;
}

.moreText {
  position: relative;
  top: 0;
  left: 40%;
  color: gray;
  font-size: 12px;
  cursor: pointer;
}

.originalGridContainer {
  display: none; /* 기본적으로 숨김 처리 */
}

/* Mobile Styles */
@media screen and (max-width: 768px) {
  .newGrid {
    order: 3; /* BestGrid보다 밑으로 이동 */
  }

  .bestGrid {
    order: 2; /* BestGrid가 위로 이동 */
  }
  .sliderContainer{
    width: 100%;
    padding: 0;
  }
  .homeGridWrapper {
    margin: auto;
  }

  .homeGrid {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 200px);
    grid-template-areas:
      "large"
      "small-right1"
      "small-right2"
      "small-right3";
  }

  .homeGrid > div {
    display: none;
  }

  .homeGrid .largeItem,  .homeGrid .smallItemRight1 , .homeGrid .smallItemRight2, .homeGrid .smallItemRight3 {
    display: flex;
  }

   .homeGrid .smallItemRight1, .homeGrid .smallItemRight2, .homeGrid .smallItemRight3{
    flex-direction: row;
    align-items: center;
    text-align: left;
  }

   .homeGrid .smallItemRight1 .text , .homeGrid .smallItemRight2 .homeGrid .text ,.smallItemRight3 .text {
    max-width: 140px; /* 텍스트의 최대 너비를 지정 */
  }
  /* 각 아이템의 첫 번째 텍스트 크기를 줄이기 위한 스타일 추가 */
.homeGrid .smallItemRight1 p:first-child, 
.homeGrid .smallItemRight2 p:first-child, 
.homeGrid .smallItemRight3 p:first-child {
    font-size: 12px; /* 원하는 크기로 조정 */
}
  .item p {
    white-space: nowrap;
  }

  .homeGrid .smallGreyBox {
    width: 30%;
  }
  .largeItem{
    width: 100%;
    border-bottom: 1px solid #eee;
    padding-bottom: 10px;
  }
  .largeItem .text {
    margin-top: 20px;
  }

  .largeItem .text p:first-child {
    font-size: 16px; /* First line larger */
    font-weight: 700;
    margin: 0;
  }

  .largeItem .text p:last-child {
    display: none;
  }

  .bestGrid {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .bestItem {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
  }

  .bestGreyBox {
    width: 95%;
  }

  .bestText {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .bestText > * {
    margin: 0px;
  }

  .middleText {
    display: flex;
    margin: 0;
  }

  .priceCart {
    margin-left: 10px;
  }

  .newGridContainer {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .newGridItem {
    background-color: #eee;
  }

  .newGridItem1 {
    height: 200px;
  }

  .newGridItem2 {
    height: 300px;
  }

  .newGridItem3 {
    height: 400px;
  }

  .newGridItem4 {
    height: 250px;
  }

  .newGridItem5 {
    height: 350px;
  }

  .newGridItem6 {
    height: 450px;
  }

  .newGridItem7 {
    height: 300px;
  }

  .newGridItem8 {
    height: 200px;
  }

  .newGridItem p {
    display: none;
  }

  .asymmetricGrid {
    display: flex;
    flex-direction: column;
    grid-template-columns: 1fr;
    gap: 10px;
  }

  .asymmetricGrid p {
    display: none;
  }

  .gridItem1, .gridItem2, .gridItem3 {
    height: 300px;
  }

  .textContainer {
    display: none;
  }

  .originalGridContainer {
    display: grid; /* 모바일에서만 보이도록 설정 */
    margin-bottom: 40px;
  }

  .originalGrid {
    display: flex;
    gap: 20px;
  }

  .originalGridItem {
    background-color: #f9f9f9;
    padding: 20px;
    border: 1px solid #ccc;
    text-align: center;
  }

  .originalGreyBox {
    width: 100%;
    height: 200px;
    background-color: #ddd;
    margin-bottom: 10px;
  }

  .originalText {
    text-align: left;
  }

  .symmetricGridContainer {
    font-size: 12px;
  }

  .symmetricGridItem {
    width: auto !important;
    padding: 0 20px;
  }
}