.gridPage {
  padding: 20px;
}

.gridContainer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

.gridItem {
  padding: 10px;
  text-align: left;
}

.imagePlaceholder {
  width: 100%;
  height: 200px;
  background-color: #ddd;
  margin-bottom: 10px;
}
.headtext{
  font-weight: bold;
}


.itemDetails p{
  font-size: 10px;
}
.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.pageNumber,
.pageArrow {
  margin: 0 5px;
  padding: 5px 10px;
  border: 1px solid #ccc;
  background-color: white;
  cursor: pointer;
}

.pageNumber:hover,
.pageArrow:hover {
  background-color: #f1f1f1;
}