.gridPage {
  padding: 20px;
}

.gridContainer {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 10px;
}

.gridItem {
  padding: 10px;
  text-align: left;
}

.imagePlaceholder {
  width: 100%;
  height: 200px;
  background-color: #ddd;
  margin-bottom: 10px;
}

.headtext {
  font-weight: bold;
}

.itemDetails p {
  font-size: 10px;
}

@media (max-width: 767px) {
  .gridPage {
    padding: 0px;
  }
  .gridContainer {
    grid-template-columns: 1fr; /* 한 줄 배치 */
    padding: 0px;
  }
  
.gridItem {
  padding: 0px;
  text-align: left;
}

  .itemDetails p {
    font-size: 12px; /* 글자 크기 조정 */
  }
}