.searchPage {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  z-index: 1000;
  overflow-y: auto;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.closeButton {
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
}

.searchContainer {
  display: flex;
  padding: 20px 0;
  border-bottom: 1px solid #ccc;
}

.searchInput {
  background-color: #eee;
  flex: 1;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.searchButton {
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
  margin-left: 10px;
  display: flex;
  align-items: center;
}

.recentSearches,
.recommendedSearches {
  margin: 20px 0;
}

.searchTerms,
.recommendButtons {
  display: flex;
  flex-wrap: wrap;
}
.searchTerms{
  flex-direction: column;
}
.searchTerm,
.recommendButton {
  width: 25%;
  color: #aaa;
  display: flex;
  align-items: center;
  border-radius: 4px;
  cursor: pointer;
  border: none; /* Remove border for recommendButton */
  background-color: transparent;
  font-size: 14px;
  white-space: nowrap;
}
.searchTerm{
  margin: 5px 20px;
}

.recommendButton {
  border: 1px solid #ccc; /* Add border for recommendButton */
  padding: 5px;
}

.removeButton {
  background: none;
  border: none;
  font-size: 16px;
  cursor: pointer;
  margin-left: 10px;
}
