.detailPage {
  padding: 20px;
}

.detailContainer {
  display: flex;
  gap: 20px;
}

.imageSection {
  flex: 1;
}

.imagePlaceholder {
  width: 100%;
  height: 400px;
  background-color: #ddd;
}

.imageThumbnails {
  display: flex;
  gap: 5px;
  margin-top: 10px;
}

.thumbnailPlaceholder {
  width: 50px;
  height: 50px;
  background-color: #ddd;
}

.details {
  display: flex;
  flex: 1 1;
  flex-direction: column;
  align-items: flex-start;
}
.details h1,
.details h2,
.details p {
  width: 100%;
  margin: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #ccc;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.selectionRow {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 10px;
  width: 100%;
}

.selectionItem {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.colorSelection,
.sizeSelection {
  width: 100%;
  display: flex;
  justify-content: space-between;

}

.colors {
  display: flex;
  gap: 5px;
}

.color {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 1px solid #000;
}

.price {
  font-size: 24px;
  font-weight: bold;
  margin-top: 10px;
}

.totalPrice {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.purchaseButton,
.reviewButton {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  background-color: #000;
  color: #fff;
  border: none;
  cursor: pointer;
}

.reviews {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;

}

.reviewNotice {
  width: 100%;
  font-size: 16px;
  color: #666;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #ccc;
  padding: 5px;
}
.writeReviewButton {
  border: none;
  background-color: transparent;
  font-size: 20px;
  font-weight: bold;
}
.reviewList {
  width: 100%;
  margin-top: 10px;
}

.reviewItem {
  padding: 10px 0;
}
.reviewImagePlaceholder {
  width: 15%;
  height: 120px;
  background-color: #ddd;
}

.reviewer {
  font-weight: bold;
}

.reviewTitle {
  font-weight: bold;
  margin-top: 10px;
}

.reviewContent {
  margin-top: 5px;
  color: #666;
}

.reviewSeparator {
  border-bottom: 1px solid #ddd;
  margin-top: 10px;
}

.similarWorks {
  margin-top: 20px;
}

.gridContainer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

.gridItem {
  background-color: #fff;
  border: 1px solid #ddd;
  padding: 10px;
}

.gridImagePlaceholder {
  width: 100%;
  height: 150px;
  background-color: #ddd;
}

.itemDetails {
  margin-top: 10px;
}

.itemTitle {
  font-weight: bold;
}

.itemDescription {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 5px;
}

.cartIcon {
  margin-left: 10px;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalContent {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  position: relative;
}

.closeIcon {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

.imageUpload {
  margin-top: 10px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.uploadIcon {
  font-size: 100px;
  cursor: pointer;
  transform: scale(0.5,0.5);
}

.imageUploadPlaceholder {
  width: 100px;
  height: 100px;
  background-color: #ddd;
  margin-top: 10px;
}

.submitButton {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  background-color: #000;
  color: #fff;
  border: none;
  cursor: pointer;
}

.inputField {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.textArea {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  resize: none;
  height: 100px;
}

.tabs {
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
}

.tab {
  cursor: pointer;
  padding: 10px;
  transition: color 0.3s;
}

.activeTab {
  color: red;
}