.slick-slider {
  width: 100%;
}
/* 화살표 스타일링 */
.slick-prev,
.slick-next {
  font-size: 4rem;
  z-index: 2;
  background: none;
  border: none;
  color: black;
  top: 50%;
  transform: translateY(-50%);
}

.slick-prev:hover,
.slick-next:hover {
  color: black;
}

.slick-prev::before,
.slick-next::before {
  font-size: 2rem;
  color: black;
  content: "";
}

.slick-prev {
  left: -40px;
}

.slick-next {
  right: -40px;
}

/* 페이지네이션 */
.slick-dots {
  position: relative;
  display: flex !important;
  align-items: center;
  justify-content: center;
  font-weight: 200;
  height: 25px;
}

.slick-dots li {
  display: none;
}

.slick-dots li.slick-active div {
  display: block;
}

.slick-dots li div {
  font-size: 1rem;
  margin: 0 5px;
  color: black;
  display: none;
}

/* 현재 페이지 번호만 보이게 하기 */
.slick-dots .slick-active {
  width: 40px;
  display: block;
  white-space: nowrap;
}

/* 페이지네이션 화살표 스타일링 */
.slick-arrow {
  display: block !important ;
  cursor: pointer;
  user-select: none;
}

.arrow {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
@media screen and (max-width: 768px){
  .slick-prev,
  .slick-next {
    display: none !important;
  }
}